@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

.alert {
    padding: 0 10px;
}

.alert-success {
    color: #5DB3B6;
}

.alert-error {
    color: #822121;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes sway {
    0%, 100% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
}

.rotating {
    animation: rotate 10s linear infinite;
}

.swaying {
    display: inline-block;
    animation: sway 3s ease-in-out infinite;
}

@keyframes waveAnimation {
    0%, 100% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
}

.text-wave {
    font-size: 5rem; /* Ajustez la taille selon le besoin */
    /* Le gradient commence à gauche */
    background: linear-gradient(90deg, #ffffff, #5DB3B6) no-repeat;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: waveAnimation 5s ease-in-out infinite;
}



@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
